# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

config SYNO_QORIQ
	bool "Synology P1022 porting define"
	depends on P1022_DS
	default y
	help
	  Say Y here to enable Freescale QorIQ porting codes.

config SYNO_QORIQ_FSL_SATA_NRESET
	bool "Increasing eSATA compatibility on QorIQ eSATA"
	depends on SYNO_QORIQ
	default y
	help
		Say Y here to disable software reset for ATA_DEV_ATA class

config SYNO_QORIQ_IGNORE_DEFAULT_GATEWAY_ARP
	bool "support for ignoring default gateway's ARP packet, which will wake up the machine"
	depends on SYNO_QORIQ
	default y
	help
	  Say Y here to support ignoring default gateway's ARP packet.

config SYNO_QORIQ_DISABLE_KMSG_BEFORE_SYSSLEEP
	bool "Disable /proc/kmsg to prevent disk wakeup before system deepsleep, see bug <DSM> #55224"
	depends on SYNO_QORIQ
	default y
	help
	  Say Y here to disable /proc/kmsg to prevent disk wakeup before system deepsleep, see bug <DSM> #55224

config SYNO_QORIQ_FIX_OCF_RACE
	bool "fix ocf race"
	depends on SYNO_QORIQ
	default y
	help
	  Say Y here to fix cryptosoft race condition

config SYNO_QORIQ_CONTINUE_RESET_PCI_DEV_WHEN_RESUME_FAIL
	bool "fix resume failed when wakeup from deepsleep"
	depends on SYNO_QORIQ
	default y
	help
	  Say Y here to reset pci device until it resume succeed

config SYNO_QORIQ_CONTINUE_RESET_PCI_DEV_WHEN_RESUME_FAIL
	bool "fix resume failed when wakeup from deepsleep"
	depends on SYNO_QORIQ
	default y
	help
	  Say Y here to reset pci device until it resume succeed

config SYNO_SAS_ENCLOSURE_ID_CTRL
	bool "This mechanism will help kernel to enum enclosure id control interface in sysfs"
	depends on SCSI_ENCLOSURE && ENCLOSURE_SERVICES
	default n
	help
	  Say Y here to to enum enclosure id control interface in sysfs

config SYNO_NET_INIT_OPERATION
	bool "fix the default eth0 status when booting without link"
	depends on SYNO_QORIQ
	default y
	help
	  Say Y here to fix this issue. Please not port this to new kernel


config SYNO_MPC8533_TIMEBASE_FREQ
    int "PPC853x Timebase frequency"
    depends on SYNO_MPC8533
    default 0
    help
        Overwrite default timebase frequency

config SYNO_QORIQ_GIANFAR_DROP_CACHE
	bool "Drop cache before gianfar device start up"
	depends on SYNO_QORIQ

config SYNO_213AIR_KERNEL_PANIC_WORK_AROUND
	bool "213 air xcopy work around"
	depends on SYNO_MV88F6281 && XFRM
	default y

config SYNO_DISPLAY_CPUINFO
    bool "Support display CPU Infomation"
	help
	  Say Y to Support display CPU Infomation
