# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

config SYNO_QORIQ
	bool "Synology P1022 porting define"
	depends on P1022_DS
	default y
	help
	  Say Y here to enable Freescale QorIQ porting codes.

config SYNO_QORIQ_FIX_OCF_RACE
	bool "fix ocf race"
	depends on SYNO_QORIQ
	default y
	help
	  Say Y here to fix cryptosoft race condition

