# SPDX-License-Identifier: GPL-2.0-only
config PHY_FSL_IMX8MQ_USB
	tristate "Freescale i.MX8M USB3 PHY"
	depends on OF && HAS_IOMEM
	select GENERIC_PHY
	default ARCH_MXC && ARM64

config PHY_MIXEL_MIPI_DPHY
	tristate "Mixel MIPI DSI PHY support"
	depends on OF && HAS_IOMEM
	select GENERIC_PHY
	select GENERIC_PHY_MIPI_DPHY
	select REGMAP_MMIO
	help
	  Enable this to add support for the Mixel DSI PHY as found
	  on NXP's i.MX8 family of SOCs.

config PHY_LS2014A_SERDES
	tristate "Freescale LS1024A SerDes PHY driver"
	depends on ARCH_LS1024A || COMPILE_TEST
	depends on HAS_IOMEM
	select GENERIC_PHY
	select MFD_SYSCON
	help
	  This option enables support for the Snowbush SerDes PHY found
	  in Freescale LS1024A SoC.
	  It is required for PCIe and SATA operation on those SoCs.
