// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "ls1024a.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "QNAP TS-x31";
	compatible = "qnap,tsx31", "fsl,ls1024a";

	chosen {
		bootargs = "console=ttyS0,115200n8 earlyprintk";
		stdout-path = &uart1;
	};

	soc {
		poweroff {
			compatible = "qnap,power-off";
			reg = <0x96300000 0x100000>;
			clocks = <&clkcore LS1024A_CLK_DUS>;
		};
	};

	leds {
		compatible = "gpio-leds";
		hdd1-error {
			gpios = <&gpio 47 GPIO_ACTIVE_LOW>;
		};
		hdd2-error {
			gpios = <&gpio 46 GPIO_ACTIVE_LOW>;
		};
		hdd3-error {
			gpios = <&gpio 45 GPIO_ACTIVE_LOW>;
		};
		hdd4-error {
			gpios = <&gpio 44 GPIO_ACTIVE_LOW>;
		};
	};
};

&serdes0 {
	fsl,pcie-use-external-clk;
};

&serdes1 {
	fsl,pcie-use-external-clk;
	fsl,sata-txlev = <9>;
};

&uart0 {
	status = "okay";
};
&uart1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
};

&sata {
	ports-implemented = <3>;
	status = "okay";
};

