/dts-v1/;

#include "ls1024a.dtsi"
/ {
	model = "Google Fiber Optimus";
	compatible = "google,optimus", "fsl,ls1024a";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>; /* 1 GB */
	};

	refclk: oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	nor0: flash@c0000000 {
		compatible = "cfi-flash";
		reg = <0xc0000000 0x04000000>;
		bank-width = <2>;
		#address-cells = <1>;
		#size-cells = <1>;
		uloader@0 {
			label = "uloader";
			reg = <0x0 0x20000>;
		};
		loader0@20000 {
			label = "loader0";
			reg = <0x20000 0x80000>;
		};
		loader1@a0000 {
			label = "loader1";
			reg = <0xa0000 0x80000>;
		};
		env@120000 {
			label = "env";
			reg = <0x120000 0x20000>;
		};
		hnvram@140000 {
			label = "hnvram";
			reg = <0x140000 0x200000>;
		};
		norreserved0@340000 {
			label = "norreserved0";
			reg = <0x340000 0x3cc0000>;
		};
	};

	nand0: nand@c8300000 {
		compatible = "fsl,ls1024a-nand";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0xc8300000 0x2000
		       0xCFFF0000 0x2c>;
		ce-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		br-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
		reserved@0 {
			label = "reserved";
			reg = <0x0 0x800000>;
		};
		kernel0@800000 {
			label = "kernel0";
			reg = <0x800000 0x2000000>;
		};
		kernel1@2800000 {
			label = "kernel1";
			reg = <0x2800000 0x2000000>;
		};
		rootfs0@4800000 {
			label = "rootfs0";
			reg = <0x4800000 0x12000000>;
		};
		rootfs1@16800000 {
			label = "rootfs1";
			reg = <0x16800000 0x12000000>;
		};
		emergency@28800000 {
			label = "emergency";
			reg = <0x28800000 0x2000000>;
		};
		data+ubi@2a800000 {
			label = "data+ubi";
			reg = <0x2a800000 0x55800000>;
		};
	};

	pwmleds {
		compatible = "pwm-leds";

		pwmledblue: pwmledblue {
			label = "blue";
			pwms = <&pwm 4 1000000>;
			max-brightness = <200>;
		};
		pwmledred: pwmledred {
			label = "red";
			pwms = <&pwm 5 1000000>;
			max-brightness = <200>;
		};
	};
};

&spi0 {
		BCM6803@0 {
			compatible = "brcm,bcm6803-spi";
			spi-max-frequency = <20000000>;
			interrupt-parent = <&gpio0>;
			interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
			reg = <0>;
			spi-cpol;
			spi-cpha;
			rf-band = "ext_d";
			i2c-base = <0x10406200>;
			i2c-addr = <0x70>;
			reset-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
			if-name = "moca0";
		};
};

&i2c0 {
	lm63: lm63@4c {
		compatible = "national,lm63";
		reg = <0x4c>;
	};
};
