/dts-v1/;

#include "ls1024a.dtsi"
/ {
	model = "Google Fiber Optimus";
	compatible = "google,optimus", "fsl,ls1024a";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>; /* 1 GB */
	};

	refclk: oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	nor0: flash@c0000000 {
		compatible = "cfi-flash";
		reg = <0xc0000000 0x04000000>;
		bank-width = <2>;
		#address-cells = <1>;
		#size-cells = <1>;
		uloader@0 {
			label = "uloader";
			reg = <0x0 0x20000>;
		};
		loader0@20000 {
			label = "loader0";
			reg = <0x20000 0x80000>;
		};
		loader1@a0000 {
			label = "loader1";
			reg = <0xa0000 0x80000>;
		};
		env@120000 {
			label = "env";
			reg = <0x120000 0x20000>;
		};
		hnvram@140000 {
			label = "hnvram";
			reg = <0x140000 0x200000>;
		};
		norreserved0@340000 {
			label = "norreserved0";
			reg = <0x340000 0x3cc0000>;
		};
	};

	nand0: nand@c8300000 {
		compatible = "fsl,ls1024a-nand";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0xc8300000 0x2000
		       0xCFFF0000 0x2c>;
		ce-gpios = <&pinctrl0 28 GPIO_ACTIVE_HIGH>;
		br-gpios = <&pinctrl0 29 GPIO_ACTIVE_HIGH>;
		reserved@0 {
			label = "reserved";
			reg = <0x0 0x800000>;
		};
		kernel0@800000 {
			label = "kernel0";
			reg = <0x800000 0x2000000>;
		};
		kernel1@2800000 {
			label = "kernel1";
			reg = <0x2800000 0x2000000>;
		};
		rootfs0@4800000 {
			label = "rootfs0";
			reg = <0x4800000 0x12000000>;
		};
		rootfs1@16800000 {
			label = "rootfs1";
			reg = <0x16800000 0x12000000>;
		};
		emergency@28800000 {
			label = "emergency";
			reg = <0x28800000 0x2000000>;
		};
		data+ubi@2a800000 {
			label = "data+ubi";
			reg = <0x2a800000 0x55800000>;
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_optimus_leds>;

		pwmledblue: pwmledblue {
			label = "blue";
			pwms = <&pwm 4 1000000>;
			max-brightness = <200>;
		};
		pwmledred: pwmledred {
			label = "red";
			pwms = <&pwm 5 1000000>;
			max-brightness = <200>;
			linux,default-trigger = "default-on";
		};
	};
};

&pinctrl0 {
	fan_control_alert {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "fan_control_alert";
	};
	moca_sideband_0 {
		gpio-hog;
		gpios = <2 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "moca_sideband_0";
	};
	moca_sideband_1 {
		gpio-hog;
		gpios = <3 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "moca_sideband_1";
	};
	mini_wake0n {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "mini_wake0n";
	};
	mini_wake1n {
		gpio-hog;
		gpios = <5 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "mini_wake1n";
	};
	qca8337n_reset {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "qca8337n_reset";
	};
	usb_power {
		gpio-hog;
		gpios = <15 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "usb_power";
	};
	11ac_power {
		gpio-hog;
		gpios = <48 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "wifi_11ac_power";
	};
	hw_rev_0 {
		gpio-hog;
		gpios = <52 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "hw_rev_0";
	};
	hw_rev_1 {
		gpio-hog;
		gpios = <53 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "hw_rev_1";
	};
	hw_rev_2 {
		gpio-hog;
		gpios = <54 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "hw_rev_2";
	};
	board_id_0 {
		gpio-hog;
		gpios = <55 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "board_id_0";
	};
	board_id_1 {
		gpio-hog;
		gpios = <56 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "board_id_1";
	};
	board_id_2 {
		gpio-hog;
		gpios = <57 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "board_id_2";
	};
	pinctrl_optimus_leds: optimus-leds-grp {
		leds {
			groups = "pwm4", "pwm5";
			function = "pwm";
		};
	};
	pinctrl_i2c: i2cgrp {
		i2c {
			groups = "i2c";
			function = "i2c";
		};
	};
	pinctrl_spi: spigrp {
		spi {
			groups = "spi_2", "spi_2_ss0";
			function = "spi_2";
		};
	};
};

&spi0 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi>;
		BCM6803@0 {
			compatible = "brcm,bcm6803-spi";
			spi-max-frequency = <20000000>;
			interrupt-parent = <&pinctrl0>;
			interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
			reg = <0>;
			spi-cpol;
			spi-cpha;
			rf-band = "ext_d";
			i2c-base = <0x10406200>;
			i2c-addr = <0x70>;
			reset-gpios = <&pinctrl0 11 GPIO_ACTIVE_LOW>;
			if-name = "moca0";
		};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c>;
	lm63: lm63@4c {
		compatible = "national,lm63";
		reg = <0x4c>;
	};
};
