// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2022 Samuel Holland <samuel@sholland.org>

#include "sun20i-d1-lichee-rv-bsp.dts"

/ {
	aliases {
		ethernet0 = &emac;
		ethernet1 = &xr829;
	};

	audio_amplifier: audio-amplifier {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&pio 1 10 GPIO_ACTIVE_HIGH>; /* PB10 */
		sound-name-prefix = "Amplifier";
	};

	dmic_codec: dmic-codec {
		compatible = "dmic-codec";
		num-channels = <2>;
		#sound-dai-cells = <0>;
	};

	dmic-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "DMIC";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "pdm";
			frame-master = <&link0_cpu>;
			bitclock-master = <&link0_cpu>;

			link0_cpu: cpu {
				sound-dai = <&dmic>;
			};

			link0_codec: codec {
				sound-dai = <&dmic_codec>;
			};
		};
	};

	/* PC1 is repurposed as BT_WAKE_AP */
	/delete-node/ leds;

/*
	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&ccu CLK_FANOUT1>;
		clock-names = "ext_clock";
		reset-gpios = <&pio 6 12 GPIO_ACTIVE_LOW>; // PG12 //
		assigned-clocks = <&ccu CLK_FANOUT1>;
		assigned-clock-rates = <32768>;
		pinctrl-0 = <&clk_pg11_pin>;
		pinctrl-names = "default";
	};
*/

	rfkill: rfkill@0 {
		compatible    = "allwinner,sunxi-rfkill";
		chip_en;
		power_en;
		status        = "okay";

		wlan: wlan@0 {
			compatible    = "allwinner,sunxi-wlan";
			pinctrl-0 = <&wlan_pins_a>;
			pinctrl-names = "default";
			clock-names = "32k-fanout1";
			clocks = <&ccu CLK_FANOUT1>;
			wlan_busnum    = <0x1>;
			wlan_regon    = <&pio 6 12 GPIO_ACTIVE_HIGH>;
			wlan_hostwake  = <&pio 6 10 GPIO_ACTIVE_HIGH>;
			/*wlan_power    = "VCC-3V3";*/
			/*wlan_power_vol = <3300000>;*/
			/*interrupt-parent = <&pio>;
			interrupts = < 6 10 IRQ_TYPE_LEVEL_HIGH>;*/
			wakeup-source;

		};

		bt: bt@0 {
			compatible    = "allwinner,sunxi-bt";
			pinctrl-0 = <&wlan_pins_a>;
			pinctrl-names = "default";
			clock-names = "32k-fanout1";
			clocks = <&ccu CLK_FANOUT1>;
			/*bt_power_num = <0x01>;*/
			/*bt_power      = "axp803-dldo1";*/
			/*bt_io_regulator = "axp803-dldo1";*/
			/*bt_io_vol = <3300000>;*/
			/*bt_power_vol = <330000>;*/
			bt_rst_n      = <&pio 6 18 GPIO_ACTIVE_LOW>;
			status        = "okay";
		};
	};

	btlpm: btlpm@0 {
		compatible  = "allwinner,sunxi-btlpm";
		uart_index  = <0x1>;
		bt_wake     = <&pio 6 16 GPIO_ACTIVE_HIGH>;
		bt_hostwake = <&pio 6 17 GPIO_ACTIVE_HIGH>;
		status      = "okay";
	};

	addr_mgt: addr_mgt@0 {
		compatible     = "allwinner,sunxi-addr_mgt";
		type_addr_wifi = <0x0>;
		type_addr_bt   = <0x0>;
		type_addr_eth  = <0x0>;
		status         = "okay";
	};
};

&codec {
	aux-devs = <&audio_amplifier>;
	routing = "Internal Speaker", "Amplifier OUTL",
		  "Internal Speaker", "Amplifier OUTR",
		  "Amplifier INL", "HPOUTL",
		  "Amplifier INR", "HPOUTR",
		  "LINEINL", "HPOUTL",
		  "LINEINR", "HPOUTR",
		  "MICIN3", "Internal Microphone",
		  "Internal Microphone", "HBIAS";
	widgets = "Microphone", "Internal Microphone",
		  "Speaker", "Internal Speaker";
	status = "okay";
};

&dmic {
	pinctrl-0 = <&dmic_pb11_d0_pin>, <&dmic_pe17_clk_pin>;
	pinctrl-names = "default";
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emac {
	pinctrl-0 = <&rmii_pe_pins>;
	pinctrl-names = "default";
	phy-handle = <&ext_rmii_phy>;
	phy-mode = "rmii";
	phy-supply = <&reg_vcc_3v3>;
	status = "okay";
};

&daudio2 {
	mclk_div 	= <0x00>;
	frametype 	= <0x00>;
	tdm_config 	= <0x01>;
	sign_extend 	= <0x00>;
	tx_data_mode 	= <0x00>;
	rx_data_mode 	= <0x00>;
	msb_lsb_first 	= <0x00>;
	pcm_lrck_period = <0x20>;
	slot_width_select = <0x20>;
	asrc_function_en  = <0x00>;
	pinctrl-names   = "default", "sleep";
	/*pinctrl-0       = <&daudio2_pins_a &daudio2_pins_b &daudio2_pins_c>;*/
	/*pinctrl-1       = <&daudio2_pins_d>;*/
	/* HDMI audio, no need pin */
	pinctrl-0;
	pinctrl-1;
	pinctrl_used	= <0x0>;
	daudio_type	= <0x1>;
	status = "okay";
};

/* if HDMI audio is used, daudio2 should be enable. */
&hdmiaudio {
	status = "okay";
};

&sounddaudio2 {
	status = "okay";
	simple-audio-card,name = "sndhdmi";
	daudio2_master: simple-audio-card,codec {
		sound-dai = <&hdmiaudio>;
	};
};

&mdio {
	ext_rmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		reset-gpios = <&pio 4 16 GPIO_ACTIVE_LOW>; /* PE16 */
	};
};

&mmc1 {
	bus-width = <4>;
/*
	mmc-pwrseq = <&wifi_pwrseq>;
*/
	no-sd;
	cap-sdio-irq;
	keep-power-in-suspend;
	ignore-pm-notify;
	ctl-spec-caps = <0x8>;

	sunxi-dly-52M-ddr4  = <1 0 0 0 2>;
	sunxi-dly-104M  = <1 0 0 0 1>;
	sunxi-dly-208M  = <1 0 0 0 1>;

/*
	non-removable;
*/
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;

	pinctrl-0 = <&mmc1_pins>;
	pinctrl-1 = <&sdc1_pins_b>;
	pinctrl-names = "default","sleep";
	status = "okay";

	xr829: wifi@1 {
		reg = <1>;
	};
};

&ohci1 {
	status = "okay";
};

&pio {
	clk_pg11_pin: clk-pg11-pin {
		pins = "PG11";
		function = "clk";
	};

	dmic_pb11_d0_pin: dmic-pb11-d0-pin {
		pins = "PB11";
		function = "dmic";
	};

	dmic_pe17_clk_pin: dmic-pe17-clk-pin {
		pins = "PE17";
		function = "dmic";
	};

	sdc1_pins_a: sdc1@0 {
		pins = "PG0", "PG1", "PG2",
		       "PG3", "PG4", "PG5";
		function = "mmc1";
		drive-strength = <30>;
		bias-pull-up;
	};

	sdc1_pins_b: sdc1@1 {
		pins = "PG0", "PG1", "PG2",
		       "PG3", "PG4", "PG5";
			function = "gpio_in";
	};

	wlan_pins_a:wlan@0 {
		pins = "PG11";
		function = "clk";
	};
};

&uart1 {
	uart-has-rtscts;
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
	pinctrl-names = "default";
	status = "okay";

	/* XR829 bluetooth is connected here */
};

&usb_otg {
	status = "disabled";
};

&usbphy {
	/* PD20 and PD21 are repurposed for the LCD panel */
	/delete-property/ usb0_id_det-gpios;
	/delete-property/ usb0_vbus_det-gpios;
	usb1_vbus-supply = <&reg_vcc>;
};
