// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2022 Jisheng Zhang <jszhang@kernel.org>
// Copyright (C) 2022 Samuel Holland <samuel@sholland.org>

#include <dt-bindings/display/media-bus-format.h>
#include <dt-bindings/input/input.h>

#include "sun20i-d1-lichee-rv.dts"

/ {
	model = "Sipeed Lichee RV Dock";
	compatible = "sipeed,lichee-rv-dock", "sipeed,lichee-rv",
		     "allwinner,sun20i-d1";

	aliases {
		ethernet1 = &rtl8723ds;
	};

	dmic_codec: dmic-codec {
		compatible = "dmic-codec";
		num-channels = <2>;
		#sound-dai-cells = <0>;
	};

	dmic-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "DMIC";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,dai-link@0 {
			format = "pdm";
			frame-master = <&link0_cpu>;
			bitclock-master = <&link0_cpu>;

			link0_cpu: cpu {
				sound-dai = <&dmic>;
			};

			link0_codec: codec {
				sound-dai = <&dmic_codec>;
			};
		};
	};

/*
	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 6 12 GPIO_ACTIVE_LOW>; // PG12 //
	};
*/

	rfkill: rfkill@0 {
		compatible    = "allwinner,sunxi-rfkill";
		chip_en;
		power_en;
		status        = "okay";

		wlan: wlan@0 {
			compatible    = "allwinner,sunxi-wlan";
			pinctrl-0 = <&wlan_pins_a>;
			pinctrl-names = "default";
			clock-names = "32k-fanout1";
			clocks = <&ccu CLK_FANOUT1>;
			wlan_busnum    = <0x1>;
			wlan_regon    = <&pio 6 12 GPIO_ACTIVE_HIGH>;
			wlan_hostwake  = <&pio 6 10 GPIO_ACTIVE_HIGH>;
			/*wlan_power    = "VCC-3V3";*/
			/*wlan_power_vol = <3300000>;*/
			/*interrupt-parent = <&pio>;
			interrupts = < 6 10 IRQ_TYPE_LEVEL_HIGH>;*/
			wakeup-source;

		};

		bt: bt@0 {
			compatible    = "allwinner,sunxi-bt";
			pinctrl-0 = <&wlan_pins_a>;
			pinctrl-names = "default";
			clock-names = "32k-fanout1";
			clocks = <&ccu CLK_FANOUT1>;
			/*bt_power_num = <0x01>;*/
			/*bt_power      = "axp803-dldo1";*/
			/*bt_io_regulator = "axp803-dldo1";*/
			/*bt_io_vol = <3300000>;*/
			/*bt_power_vol = <330000>;*/
			bt_rst_n      = <&pio 6 18 GPIO_ACTIVE_LOW>;
			status        = "okay";
		};
	};

	btlpm: btlpm@0 {
		compatible  = "allwinner,sunxi-btlpm";
		uart_index  = <0x1>;
		bt_wake     = <&pio 6 16 GPIO_ACTIVE_HIGH>;
		bt_hostwake = <&pio 6 17 GPIO_ACTIVE_HIGH>;
		status      = "disabled";
	};

	addr_mgt: addr_mgt@0 {
		compatible     = "allwinner,sunxi-addr_mgt";
		type_addr_wifi = <0x0>;
		type_addr_bt   = <0x0>;
		type_addr_eth  = <0x0>;
		status         = "okay";
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		power-supply = <&reg_vcc>;
		pwms = <&pwm 7 10000 0>;
	};

	panel {
		compatible = "simple-panel";
		backlight = <&backlight>;
		power-supply = <&reg_vcc>;
		reset-gpios = <&pio 6 13 GPIO_ACTIVE_LOW>; /* PG13 */

		bpc = <6>;
		bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;

		/* LCD size */
		width-mm = <154>;
		height-mm = <86>;

		panel-timing {
			clock-frequency = <51000000>;
			hactive = <1024>;
			vactive = <600>;
			hfront-porch = <140>;
			hsync-len = <20>;
			hback-porch = <140>;
			vfront-porch = <20>;
			vsync-len = <3>;
			vback-porch = <20>;
			hsync-active = <0>;
			vsync-active = <0>;
		};

		port {
			panel_in_tcon_lcd0: endpoint {
				remote-endpoint = <&tcon_lcd0_out_panel>;
			};
		};
	};
};

&codec {
	routing = "Internal Speaker", "HPOUTL",
		  "Internal Speaker", "HPOUTR",
		  "LINEINL", "HPOUTL",
		  "LINEINR", "HPOUTR",
		  "MICIN3", "Internal Microphone",
		  "Internal Microphone", "HBIAS";
	widgets = "Microphone", "Internal Microphone",
		  "Speaker", "Internal Speaker";
	status = "okay";
};

&de {
	status = "okay";
};

&dmic {
	pinctrl-0 = <&dmic_pb11_d0_pin>, <&dmic_pe17_clk_pin>;
	pinctrl-names = "default";
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ledc {
	pinctrl-0 = <&ledc_pc0_pin>;
	pinctrl-names = "default";
	status = "okay";

	multi-led@0 {
		reg = <0x0>;
		color = <LED_COLOR_ID_RGB>;
		function = LED_FUNCTION_STATUS;
	};
};

&lradc {
	status = "okay";

	button-220 {
		label = "OK";
		linux,code = <KEY_OK>;
		channel = <0>;
		voltage = <220000>;
	};
};

&mmc1 {
	bus-width = <4>;
/*
	mmc-pwrseq = <&wifi_pwrseq>;
*/
	no-sd;
	cap-sdio-irq;
	keep-power-in-suspend;
	ignore-pm-notify;
	ctl-spec-caps = <0x8>;

	sunxi-dly-52M-ddr4  = <1 0 0 0 2>;
	sunxi-dly-104M  = <1 0 0 0 1>;
	sunxi-dly-208M  = <1 0 0 0 1>;

/*
	non-removable;
*/
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;

	pinctrl-0 = <&mmc1_pins>;
	pinctrl-1 = <&sdc1_pins_b>;
	pinctrl-names = "default","sleep";
	status = "okay";

	rtl8723ds: wifi@1 {
		reg = <1>;
	};
};

&ohci1 {
	status = "okay";
};

&pio {
	dmic_pb11_d0_pin: dmic-pb11-d0-pin {
		pins = "PB11";
		function = "dmic";
	};

	dmic_pe17_clk_pin: dmic-pe17-clk-pin {
		pins = "PE17";
		function = "dmic";
	};

	sdc1_pins_a: sdc1@0 {
		pins = "PG0", "PG1", "PG2",
		       "PG3", "PG4", "PG5";
		function = "mmc1";
		drive-strength = <30>;
		bias-pull-up;
	};

	sdc1_pins_b: sdc1@1 {
		pins = "PG0", "PG1", "PG2",
		       "PG3", "PG4", "PG5";
			function = "gpio_in";
	};

	wlan_pins_a:wlan@0 {
		pins = "PG11";
		function = "clk";
	};
};

&pwm {
	pinctrl-0 = <&pwm7_pd22_pin>;
	pinctrl-names = "default";
	status = "okay";
};

&tcon_lcd0 {
	pinctrl-0 = <&lcd_rgb666_pins>;
	pinctrl-names = "default";
};

&tcon_lcd0_out {
	tcon_lcd0_out_panel: endpoint {
		remote-endpoint = <&panel_in_tcon_lcd0>;
	};
};

&uart1 {
	uart-has-rtscts;
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
	pinctrl-names = "default";
	status = "okay";

/*
	bluetooth {
		compatible = "realtek,rtl8723ds-bt";
		device-wake-gpios = <&pio 6 15 GPIO_ACTIVE_HIGH>; // PG16 //
		enable-gpios = <&pio 6 18 GPIO_ACTIVE_HIGH>; // PG18 //
		host-wake-gpios = <&pio 6 17 GPIO_ACTIVE_HIGH>; // PG17 //
	};
*/
};

&usbphy {
	/* PD20 and PD21 are repurposed for the LCD panel */
	/delete-property/ usb0_id_det-gpios;
	/delete-property/ usb0_vbus_det-gpios;
	usb1_vbus-supply = <&reg_vcc>;
};
