# SPDX-License-Identifier: GPL-2.0
source "drivers/gpu/arm/mali400/mali/Kconfig"
source "drivers/gpu/arm/mali400/ump/Kconfig"

choice
	prompt "Mali Midgard driver"

config MALI_MIDGARD_FOR_ANDROID
	bool "Mali Midgard for Android"

config MALI_MIDGARD_FOR_LINUX
	bool "Mali Midgard for Linux only"

endchoice

source "drivers/gpu/arm/midgard/Kconfig"

config MALI_BIFROST_FOR_LINUX
	bool "Mali Bifrost for Linux only"

source "drivers/gpu/arm/bifrost_for_linux/Kconfig"
