# SPDX-License-Identifier: GPL-2.0
if ARM64 || ARM
source "drivers/gpu/arm/mali400/mali/Kconfig"
source "drivers/gpu/arm/mali400/ump/Kconfig"
endif

if ARM64 || X86_64 || !64BIT
choice
	prompt "Mali Midgard driver"

config MALI_MIDGARD_FOR_ANDROID
	bool "Mali Midgard for Android"

config MALI_MIDGARD_FOR_LINUX
	bool "Mali Midgard for Linux only"

endchoice

source "drivers/gpu/arm/midgard/Kconfig"

choice
	prompt "Mali bifrost driver"

config MALI_BIFROST_FOR_ANDROID
	bool "Mali Bifrost for Android"

config MALI_BIFROST_FOR_LINUX
	bool "Mali Bifrost for Linux only"

endchoice

source "drivers/gpu/arm/bifrost/Kconfig"

if MALI_KUTF
choice
	prompt "Mali kutf driver"
	default MALI_MIDGARD_KUTF if MALI_MIDGARD
	default MALI_BIFROST_KUTF if !MALI_MIDGARD

config MALI_MIDGARD_KUTF
        bool "Mali Midgard kutf"
	depends on MALI_MIDGARD

config MALI_BIFROST_KUTF
        bool "Mali Bifrost kutf"
	depends on MALI_BIFROST

endchoice
endif

endif
